/*
   Global
*/

@font-face {
	font-family: Roboto;
	src: url(/assets/fonts/Roboto-Regular.ttf);
}

:root {
	font-size: 62.5%;

	--c-main: #ffc12b;
	--c-secondary: #ff4891;
	--c-basic: #1d232c;
	--c-classic: #252e3a;
	--c-base: #707070;
	--c-dark: #0e0e0e;
	--c-white: #dddddd;
}

body {
	background-color: var(--c-dark);
	font-size: 1.8rem;
	font-family: Roboto;
	line-height: 1.5;
}

h1 {
	font-size: 3.6rem;
	margin: 0;
	line-height: 1.3;
}

h2 {
	font-size: 3rem;
	margin: 0;
}

/*
   Utilities
*/
.w-100 {
	width: 100%;
}

.m-auto {
	margin: auto;
}

.mb {
	margin-bottom: 20px;
}

.text-center {
	text-align: center;
}

/*
   Menu
*/

.menu {
	background-color: var(--c-basic);
	height: 100vh;
	position: fixed;
}

.menu__item {
	width: 100px;
	height: 100px;
	color: var(--c-white);

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.menu__item:hover {
	background-color: var(--c-classic);
}

.menu__item--active {
	position: relative;
}

.menu__item--active::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
	background-color: #354253;
}

.menu__icon {
	width: 25px;
	height: 25px;
	filter: invert(98%) sepia(3%) saturate(23%) hue-rotate(30deg) brightness(105%) contrast(73%);
}

/*
   Custom scrollbar
*/
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--c-dark);
	border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #484848;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}

/*
   Layout
*/

.root {
	width: 100%;
	margin-left: 100px; /* consider menu width */

	height: auto;
	min-height: 100vh;
}

.dashboard {
	display: flex;
}

.container {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 30px);
	margin: 30px 30px 0px 30px;
}

/*
   Specific elements
*/

.card {
	padding: 30px;
	background-color: var(--c-classic);
	color: var(--c-white);
	border-radius: 15px;
}

.card--centered {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.select-container {
	display: inline-block;
	position: relative;
}

.cool-select {
	background-color: var(--c-dark);
	color: var(--c-white);
	border: none;
	padding: 13px 14px;
	margin: 0px;
	border-radius: 8px;
	width: 250px;
	outline: none;
	cursor: pointer;

	/* remove current arrow icon */
	appearance: none;
}

.arrow-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 14px;
	filter: invert(98%) sepia(3%) saturate(23%) hue-rotate(30deg) brightness(105%) contrast(73%);
	pointer-events: none;
}

.btn {
	background-color: var(--c-main);
	color: var(--c-dark);
	border: none;
	padding: 13px 47px;
	font-weight: bold;
	border-radius: 9px;
	cursor: pointer;
	outline: none;
}

.btn--success {
	background-color: var(--c-main);
	color: var(--c-dark);
}

.btn--success:hover {
	background-color: #e6ac27;
}

.btn--danger {
	background-color: #8b0000;
	color: var(--c-white);
}

.btn--danger:hover {
	background-color: #730000;
}

.divide-exploit {
	display: flex;
	flex-direction: row;
}

.terminal-container {
	margin-left: 30px;
	width: auto;
	min-width: 720px;
	position: relative;
}

.term-btns {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
}

.xterm {
	border-style: solid;
	border-width: 15px;
	border-color: black;
	background-color: black;
}

@media (max-width: 1300px) {
	.divide-exploit {
		flex-direction: column;
	}

	.terminal-container {
		margin-left: 0px;
		margin-top: 20px;
	}
}

.config-part {
	flex: 1;
	min-height: 200px;
	margin-bottom: 30px;
}

.json-editor {
	display: block;
	width: auto;
	height: 100%;
}
