name: Package Application with Pyinstaller

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Package Application
        uses: JackMcKew/pyinstaller-action-windows@python3-10-pyinstaller-5-3
        with:
          path: ./

      - uses: actions/upload-artifact@v2
        with:
          name: versatools
          path: ./dist/windows
